@charset "utf-8";
/* CSS Document */

body {
    background-color: #A6B8A3;
}


#divAjuda {
    width: 90%;
    height: 90%;
    background-color: #A6B8A3;
    font-family: 'Gochi Hand', cursive;
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 3;
    opacity: 0.95;
}

#info {
    width: 200px;
    height: 100px;
    background-color: #9D8592;
    border-radius: 10%;
    padding: 10px;
    position: absolute;
    left: calc(50% - 100px);
    top: calc(50% - 50px);
    z-index: 3;
}

#main {
    position: fixed;
    top: 0;
}

#main img, input {
    position: absolute;
}

#poste {
    top: 200px;
    left: 400px;
}

#jogador {
    top: 420px;
    left: 360px;
    z-index: 1;
}

#tempo {
    top: 250px;
    left: 430px;
    width: 13px;
    border: 0;
    text-align: right;
    background-color: #B93A45;
    font-size: 10px;
    color: #fff;
}

#foguetes img {
    display: none;
    position: absolute;
}

#recomecar {
    display: none;
    background-color: #000;
    border: #A6B8A3 1px solid;
    color: #A6B8A3;
    cursor: pointer;
    top: 247px;
    left: 460px;

}

#recomecar:hover {
    background-color: #B93A45;
}