* {
    margin: 0;
    padding: 0;
  
}

body{
    
     background-image: url("../assets/imagens/fundo3.png");
}

.esquerda{
    position: relative;
    left: 35%;
   
    
}


h1{
    color:azure;
}

.tempo{
    color: aliceblue;
}
#tempo{
    color: aliceblue;
}

#personagens {
    background-color:lightgreen;
    width: 100%;
    height: 50%;
    opacity: 0.9;
}

#personagens img{
	cursor:pointer;
     
}

.pers_css{
    
}

#jogo {
    display: none;
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    

}


#carro_escolhido {
    transform: rotate(90deg);
    position: absolute;
}

#pista {
    position: absolute;
    z-index: 2;
}