@charset "utf-8";
/* CSS Document */
body {
            background: #ededed;
        }

        header {
            padding: 2em 0;
            margin-bottom: 2em;
        }

        header h1 {
            font-size: 2em;
        }

        header h1 small:before {
            content: "|";
            margin: 0 0.5em;
            font-size: 1.6em;
        }

        footer {
            background: #ccc;
            color: #003;
        }

        footer p {
            padding: 0.5em 1em 0.5em 0;
            margin: 0;
        }

        #inicio {
            background-color: #FFF;
            margin: 0;
            padding-top: 100px;
            position: fixed;
            top: 0;
            z-index: 1;
            height: 100%;
            text-align: center;
            font-size: 30px;
            color: #000;
            /* Required for IE 5, 6, 7 */
            /* ...or something to trigger hasLayout, like zoom: 1; */
            width: 100%;

            /* http://css-tricks.com/64-css-transparency-settings-for-all-broswers/ */
            /* Theoretically for IE 8 & 9 (more valid) */
            /* ...but not required as filter works too */
            /* should come BEFORE filter */
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";

            /* This works in IE 8 & 9 too */
            /* ... but also 5, 6, 7 */
            filter: alpha(opacity=95);

            /* Older than Firefox 0.9 */
            -moz-opacity: 0.95;

            /* Safari 1.x (pre WebKit!) */
            -khtml-opacity: 0.95;
            /* Modern!
                         /* Firefox 0.9+, Safari 2?, Chrome any?
                         /* Opera 9+, IE 9+ */
            opacity: 0.95;
        }